In [2]:
import sqlalchemy as alch
import os
import dotenv
import pandas as pd
dotenv.load_dotenv()
passw = os.getenv("pass_sql")
dbName = "tesla_tweets"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [7]:
df = pd.read_csv("data/tesla_tweets_18-20.csv")

In [10]:
df = df[["created_at", "full_text", "lang"]]

In [12]:
df.rename(columns = {'created_at':'date', 'full_text':'tweet', 'lang':'language'}, inplace = True)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_11336\2571380891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'created_at':'date', 'full_text':'tweet', 'lang':'language'}, inplace = True)

In [17]:
def erase_hms(timestamp):
    return timestamp[:10]

In [18]:
df['date'] = df['date'].apply(erase_hms)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_11336\3492940822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].apply(erase_hms)

In [19]:
df

,date,tweet,language
0,2020-06-01,I just got hired at Tesla! God is good.,en
1,2020-06-01,tesla [mergrim mix] (Remastered 2020) - Spangl...,en
2,2020-06-01,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en
3,2020-06-01,"New post: ""Why Has Tesla Halved The Model Y De...",en
4,2020-06-01,Meaning if you had a million units of Tesla yo...,en
...,...,...,...
3273942,2018-06-01,The best haiku in the world has only two sylla...,en
3273943,2018-06-01,I love you hot\nI love you steamed\nI love you...,en
3273944,2018-06-01,Everyone’s records will be broken one day but ...,en
3273945,2018-06-01,Every time Tesla stock starts going up. The sh...,en
3273946,2018-06-01,Tweet us your questions today for Elon to answ...,en

In [21]:
df.to_csv("data/tesla_tweets_clean.csv")

In [ ]:
df = pd.read_csv('data/tesla_tweets_clean.csv')
df = df.set_index('Unnamed: 0')
df.index.name = None

In [20]:
df.to_sql('tweets', con=engine)

3273947